---

export interface Props {
  title: string;
  authors: string[];
  date: string;
  description: string;
  tags: string[];
  image?: string;
  alt?: string;
  url: string;
}

const { 
  title,
  authors,
  date,
  description,
  tags,
  image,
  alt,
  url
} = Astro.props;

---
<article class="card">
    {image && (
      <div class="img">
        <img src={image} alt={alt} />
      </div>
    )}
    <!-- If there's a better way of putting the image off to the side let me know -->
    <div class="wrapper">
      <header>
        <a href={url}>
          <h2>{title}</h2>
        </a>
      </header>
      <div class="author">
        <p>{authors?.join(", ")}</p>
        <span aria-hidden="true">•</span>
        <p>{date}</p>
      </div>
      <p class="description">{description}</p>
      <div class="tags">
        {tags?.map((tag) => (
          <a class={`tag`} x-tag={tag}>{tag}</a>
        ))}
      </div>
    </div>
</article>

<style>
  .card {
    display: flex;
    /* flex-direction: column; */
    align-content: center;
    padding: 0.5rem;
    border-radius: var(--space-3xs);
    max-height: 20ch;
    overflow: hidden;
  }

  .wrapper{
    padding: 0.2rem;
    margin-block: auto;
  }
  .card:hover{
    background-color: #88888822;
  }

  .card .img {
    /* For some reason just setting the width won't work here,
       so this is done instead. 💻🔨 */
    max-width: 20%; 
    min-width: 20%;
    height: auto;
    border-radius: var(--space-2xs);
    margin-inline-end: 2ch;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .card img {
    object-fit: cover;
    max-height: 18ch;
    border-radius: var(--space-3xs);
    margin-inline: auto;
  }

  .card header > h2 {
    font-size: var(--step-1);
    font-weight: 500;
  }

  .card .author {
    display: flex;
    gap: var(--space-2xs);
  }

  .card .author > * {
    font-size: var(--step--1);
    font-weight: 90;
    font-family: var(--barlow);
  }

  .card .description {
    font-size: var(--step--1);
    font-weight: 400;
    line-height: 1.5;
  }

  .tags {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
    font-family: var(--barlow);
    font-weight: 90;
    font-size: var(--scale--2);
  }

  a.tag {
    /* border: none; */
    /* text-align: center; */
    border-radius: var(--space-3xs);
    padding: var(--space-3xs);
    line-height: 1;
    background-color: #ddd; /*Default Tag Colour*/
  }

  a.tag.blog {
    background-color: var(--red-200);
    color: var(--red-800);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover{
    text-decoration: underline;
  }

  /* Tag Colours Here */
  a.tag[x-tag="nerd stuff"]{
    background-color: #ffcccc;
  }
</style>