---

export interface Props {
  title: string;
  author: string;
  date: string;
  description: string;
  tags: string[];
  image?: string;
  alt?: string;
}

const { 
  title,
  author,
  date,
  description,
  tags,
  image,
  alt,
} = Astro.props;

---

<article class="card">
  <!-- If there's a better way of putting the image off to the side let me know -->
  <div class="wrapper">
    <header>
      <h2>{title}</h2>
    </header>
    <div class="author">
      <p>{author}</p>
      <span aria-hidden="true">•</span>
      <p>{date}</p>
    </div>
    <p class="description">{description}</p>
    <div class="tags">
      {tags.map((tag) => (
        <a class={`tag ${tag}`}>{tag}</a>
      ))}
    </div>
  </div>
  {image && (
    <div class="img">
      <img src={image} alt={alt} />
    </div>
  )}
</article>

<style>
  .card {
    
  }

  .card {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
  }

  .card .img {
    max-width: 25%;
    height: auto;
    /* align-items: stretch; */
    border-radius: var(--space-2xs);
  }

  .card img {
    object-fit: cover;
  }

  .card header > h2 {
    font-size: var(--step-1);
    font-weight: 500;
  }

  .card .author {
    display: flex;
    gap: var(--space-2xs);
  }

  .card .author > * {
    font-size: var(--step--1);
    font-weight: 90;
    font-family: var(--barlow);
  }

  .card .description {
    font-size: var(--step--1);
    font-weight: 400;
    line-height: 1.5;
  }

  .tags {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
    font-family: var(--barlow);
    font-weight: 90;
    font-size: var(--scale--2);
  }

  a.tag {
    /* border: none; */
    /* text-align: center; */
    border-radius: var(--space-3xs);
    padding: var(--space-3xs);
    line-height: 1;
  }

  a.tag.blog {
    background-color: var(--red-200);
    color: var(--red-800);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>