---

import Tags from "../components/Tags.astro";
import Page from "./Page.astro"

export interface Props {
	title: string;
  authors: [{
    name: string;
    url: string;
    avatar: string;
  }];  date: string;
  description: string;
  tags: string[];
  image?: string;
  alt?: string;
  url: string;
}

const {
  title,
  authors,
  date,
  description,
  tags,
  image,
  alt,
  url
} = Astro.props.frontmatter || Astro.props;

---

<Page title={title} description={description}>
  <header>
    <span class="info">By: {authors.map((author: {
      name: string; url: string; avatar: string;}, index: number, array: []) => {
      if(author.url){
        return (<span><a href={author.url}>{author.name}</a>{index < array.length-1 && <span>, </span>}</span>)
      } else {
        return (<span>{author.name}{index < array.length-1 && <span>, </span>}</span>)
      }
    })} <span aria-hidden="true">•</span> {new Date(date).toDateString()}</span>
    <h1 class="title">{title}</h1>
    <div class="tag">
      <Tags tags={tags}/>
    </div>
  </header>
  <slot/>
  <!-- <a class="return">Return to blog</a> -->
</Page>

<style>
  h1.title{
      margin-top: 0;
  }

    /* .return {
      padding: var(--space-s);
      background-color: var(--purble-100);
      border-radius: var(--space-xs);
    } */

  .info {
    font-size: var(--step-0);
    font-weight: 90;
    font-family: var(--barlow);
    font-stretch: 400%;
  }

  header > .title {
    margin-top: var(--space-2xs);
  }

  header > .tag {
    margin-top: var(--space-s);
  }

  @media (min-width: 1280px) {
    header {
      margin-top: 0; 
    }
  }
</style>